<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <section class="content-card">
      <p class="eyebrow">分类</p>
      <h1 th:text="${category.spec.displayName}">分类名称</h1>
      <ul class="post-list">
        <li th:each="post : ${posts.items}">
          <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}">
            文章
          </a>
        </li>
      </ul>
    </section>
  </th:block>
</html>
